@font-face {
  font-family: 'Manrope';
  src: url('manrope-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('manrope-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('manrope-600.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prata';
  src: url('prata-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
